/StructData01/build/
/StructData02/nbproject/private/
/StructData02/build/
/Lab_04/build/
/Lab_5/Lab__5/nbproject/private/
/Lab_5/Lab__5/build/
/Prueba1/nbproject/private/
/Prueba1/build/
/CLase12/nbproject/private/
/CLase12/build/
/Lab__06/nbproject/private/
/Lab_06_netBeans/nbproject/private/
/Lab_06_netBeans/build/
/ModeloMVC/nbproject/private/
/ModeloMVC/build/